section{
  padding: 0.5em;
}
h2 {
  margin: 0.5em 0px;
  font-size: large;
  font-weight: bold;
}
ul {
  list-style: disc;
}
li {
  margin-left: 2em;
}
section{
  border: solid thick black;
  border-radius: 30px;
}
table{
  text-align: left;
}
th, td {
  border: solid thin gray;
  padding: 0.7em;
  width: 5em;
}
th {
  vertical-align: middle;
}