#tableSection {
  border: solid thick black;
  border-radius: 30px;
  width: fit-content;
  max-width: min-content;
  padding: 0.3em;
  background: white;
  margin: auto;
  margin-top: 30px;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
th {
  font-weight: bolder;
}
th,
td {
  border: solid thin rgb(170, 170, 170);
  padding: 0.33em;
  width: 5em;
}
tr:first-child th {
  border-bottom: thick double black;
  border-top: none;
}
th:first-child,
td:first-child {
  border-left: none;
  border-right: 2px solid black;
}
th:last-child,
td:last-child {
  border-right: none;
  border-left: 2px solid black;
}
th {
  vertical-align: middle;
}
tr:last-child th {
  border-top: thick double black;
  border-bottom: none;
}
