table{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
th{
  font-weight: bolder;
}
th, td {
  border: solid thin gray;
  padding: 0.7em;
  width: 5em;
}
tr:first-child th{
  border-top: none;
}
th:first-child{
  border-left: none;
}
th:last-child{
  border-right: none;
}
th {
  vertical-align: middle;
}
td:last-child{
  border-right: none;
}
td:first-child{
  border-left: none;
}
tr:last-child th{
  border-bottom: none;
}